@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    background-color: #F5F3C1;
}

* {
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Inicio {
    font-size: 70px;
}

.letras {
    font-size: 40px;
    background: -webkit-linear-gradient(#2F0F5D, #27E1C1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
table {
    text-align: center;
    margin: 0px auto;
    width: 80%;
    height: 100%;
    border-spacing: 25px;
}

button {
    width: 100%;
    height: 80px;
    border-radius: 22px;
    display: block;
    font-size: 50px;
    margin: 0px auto;
}

#btn-inicio {
    background: #2F0F5D;
    color: white;
    border-color: white;
}

#btn-borrar {
    background: #0EA293;
    width: 500px;
    color: white;
    border-color: white;
}
.formulario-entrada {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.formulario-entrada input {
    width: 100%;
    height: 100%;
    background: none;
    color: #2F0F5D;
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.formulario-entrada .lblTexto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #0EA293;
}

.formulario-entrada .lblTexto:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #27E1C1;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.spanTexto {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #0EA293;

}

a {
    text-decoration: underline transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, #2F0F5D, #27E1C1);
    border-image-slice: 1;
}

.formulario-entrada input:focus+.lblTexto .spanTexto,
.formulario-entrada input:valid+.lblTexto .spanTexto {
    transform: translateY(-210%);
    font-size: 16px;
    color: #27E1C1;
}

.formulario-entrada input:focus+.lblTexto:after,
.formulario-entrada input:valid+.lblTexto:after {
    transform: translateX(0%);
}